{% include "_top.html" %}

<main class="w-full h-100vh d-flex p-items-center">
  <form id="frm_update_password" method="POST" action="/reset-password/{{ reset_key }}" class="w-25% d-flex flex-col gap-4 mx-auto">
    <h2 class="p-self-center">Create new password</h2>

    <div class="d-flex flex-col">
      <label for="new_password" class="d-flex">
        <span>password</span>
        <span class="ml-auto text-c-gray:+25">{{ x.USER_PASSWORD_MIN }} to {{ x.USER_PASSWORD_MAX }} chars</span>
      </label>
      <input name="new_password" type="password" mix-check="{{ x.REGEX_USER_PASSWORD }}" required />
    </div>
    <div class="d-flex flex-col">
      <label for="confirm_password" class="d-flex">
        <span>confirm password</span>
        <span class="ml-auto text-c-gray:+25">{{ x.USER_PASSWORD_MIN }} to {{ x.USER_PASSWORD_MAX }} chars</span>
      </label>
      <input name="confirm_password" type="password" mix-check="{{ x.REGEX_USER_PASSWORD }}" required />
    </div>

    <button type="submit">Update password</button>

    <!-- <a href="{{ url_for('view_choose_role') }}" class="d-flex a-items-center j-content-center h-12 w-full mt-4 px-10 rounded-4 border border-1 bg-c-gray text-c-white text-a-center">Back</a> -->

    <a href="{{url_for('view_login')}}" class="text-a-center">Login</a>
  </form>
</main>

{% include "_bottom.html" %}
