<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='mixhtml.css') }}" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/mojocss"></script>
    <title>{{ title or "Company" }}</title>
  </head>
  <body>
    <header class="mb-10 pa-3">
      <h2>THIS IS THE HEADER</h2>
      <form method="POST" action="{{url_for('logout')}}" class="d-flex j-content-end pa-3">
        <button class="">Logout</button>
      </form>
    </header>
